/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

.element {
  background-color: #F5F5F5;
  padding: 10px 5px 10px 5px;
  display:block;
  margin-top:5px;
}

div div p:first-child {
  font-size: 20px;
}

div div p:nth-child(2) {
  color:grey;
  font-size: 20px
}

div div p:nth-child(3) {
  font-size: 16px
}


div div p:nth-child(4) {
  font-size: 16px
}

.by {
  font-size: 20px
}

#line {
  border: 1px solid black
}

#byname {
  border: 1px solid grey;
  padding-top: 30px
}

#hide {
  border: 1px solid grey;
  padding: 2px 5px 2px 5px;
  background-color: #F5F5F5;
  float:right;
}
